.content {
    background-color: #c4ffe5;
    margin: 10px;
    padding: 10px;
    line-height: 60px;
}

.contentResp {
    background-color: #a9c7ff;
    line-height: 60px;
    margin: 0 10px;
    padding: 10px;
}
