<div class="container">
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
        <div class="blocks" fxFlex="20%">block</div>
        <div class="blocks" fxFlex="60%">block</div>
        <div class="blocks" fxFlex>block</div>
    </div>
</div>
<div class="container">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
        <div class="blocks">block</div>
        <div class="blocks">block</div>
        <div class="blocks">block</div>
    </div>
</div>
<div class="container">
    <div fxLayout="row" fxLayoutAlign="begin center" class="content">
        <div class="blocks">block</div>
        <div class="blocks">block</div>
        <div class="blocks">block</div>
    </div>
</div>
<div class="container">
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayout.sm="column"
         fxFlex class="contentResp">
        <div class="blocks" fxFlex> Above on mobile, left side on larger devices.</div>
        <div class="blocks" fxFlex> Below on mobile, right side on larger devices.</div>
    </div>
</div>
